* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", "Lato", "Inter", sans-serif;
  /* position: relative; */
  color: #444;
  /* background-color: rgb(34, 24, 24); */
}
.container {
  width: 1200px;
  margin: auto;
}

.add-header {
  background-color: #444;
  /* background-color: #d9480f; */

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.discount-page:link,
.discount-page:visited {
  color: rgba(255, 255, 255, 0.812);
  text-decoration: none;
  font-weight: 300;
}

.discount-page:hover,
.discount-page:active {
  color: #fff;
}

.main-header {
  font-size: 18px;
  /* width: 1200px; */
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  margin-top: 20px;
  margin-bottom: 50px;
  /* display: none; */
}
.brand:link,
.brand:visited {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 150px;
  text-decoration: none;
  color: #444;
  letter-spacing: -1px;
  margin-left: 30px;
}

.brand:hover,
.brand:active {
  opacity: 1;
}

nav {
  text-transform: lowercase;
  font-weight: 300;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  margin: 10px 10px;
  /* display: inline-block; */
  color: #444;
  padding: 7px 15px;
}

nav a:hover {
  /* background-color: #b7b7b7; */
  color: rgba(110, 15, 105, 0.694);
  border-radius: 3px;

  /* background-color: rgba(102, 0, 255, 0.109); */
}

.img-logo {
  width: 30px;
  height: 30px;
  /* display: inline-block; */
  cursor: pointer;
  opacity: 0.8;
}

.header-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  gap: 20px;
  margin-top: 100px;
}
.welcome-div {
  align-self: center;
  text-align: center;
}
.welcome {
  /* margin-bottom: 20px; */
  letter-spacing: 0px;
  font-weight: 400;
  text-align: center;
  /* font-size: 36px; */
  margin-left: 30px;
  margin-bottom: 30px;
}

.welcome-link:link,
.welcome-link:visited {
  /* text-decoration: none; */
  display: inline-block;
  margin-top: 30px;
  color: #444;
}

.img-front {
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
}

.message {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  line-height: 1.5;
}
.submit-btn {
  font-size: 20px;

  text-transform: uppercase;
  padding: 7px 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  /* position: absolute;
  bottom: 40%;
  right: 50%; */
  cursor: pointer;
  background-color: #fff;
  color: #444;
  border: 1px solid;
  letter-spacing: 3px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);
}

.submit-btn:hover {
  background-color: rgba(117, 73, 164, 0.542);
  color: #fff;
  border: none;
}

.btn-container {
  text-align: center;
  /* display: none; */
}

.bundles-heading {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.4;
}
.bundles-section {
  margin-bottom: 70px;
}

.bundles-container {
  display: flex;
  flex: 1;
  gap: 30px;
  margin-bottom: 30px;
}

.img-bundle {
  width: 380px;
  height: auto;
  text-align: center;
  /* border-radius: 10px; */
}

.bundle-titles {
  margin-top: 15px;
  font-size: 18px;
}
.bundle-summary {
  margin-top: 15px;
  font-size: 16px;
  line-height: normal;
}
.bundle-check {
  margin-top: 15px;
}
.bundle-link:link,
.bundle-link:visited {
  color: #444;
  font-size: 16px;
}

.bundles-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.bundles-heading-grid {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.4;
}

.bundle-titles-grid {
  margin-top: 15px;
  font-size: 18px;
}
.bundle-summary-grid {
  margin-top: 15px;
  font-size: 16px;
  line-height: normal;
}

.img-bundle-grid {
  width: 380px;
  height: auto;
  text-align: center;
  /* border-radius: 10px; */
}

.bundle-check-grid {
  margin-top: 15px;
}
.bundle-link-grid:link,
.bundle-link-grid:visited {
  color: #444;
  font-size: 16px;
}
footer p {
  font-size: 16px;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
}
